.container{
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "search deck";
    
}

.search{
    grid-area: search;
    display: flex;
    justify-content: center;
}

.deck{
    grid-area: deck;
    display: flex;
    justify-content: center;
}

