.carta{
    margin: 5px 0px 0px 5px;
    cursor: pointer;
}
.image{
    width: 145px;
    height: 245px;
}

.tooltip {
    position: relative;
  }

.tooltip .tooltiptext{
    visibility: hidden;
    width: auto;
    height: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 3;

}


.tooltip:hover .tooltiptext {
    visibility: visible;
  }