.DeckContainer{
    color:red;
    align-items: center;
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-rows: 0.7fr 4fr;
    grid-template-areas: 
    "saveDeck" 
    "Deck";
}


.saveDeck{
   grid-area: saveDeck;
}

.Deck{
    height: 82vh;
    grid-area: Deck;
    border-radius: 10px;
    background-color: rgba(173,216,230,.4);
}

.deckextra{
    grid-area: deckextra;
}